<!DOCTYPE html>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"></link>

<div ng-app="easyCalendar" class="row">
	<div>
		<div class="calendar-header">
			<div class="calendar-day" ng-repeat="day in calendarWeekDays">
				{{day.label}}
			</div>
		</div>
	</div>
	<div class="calendar-body">
		<div class="calendar-day" ng-repeat="day in calendar.days" ng-click="day.currentMonth && executeClickFunction(day)"
			ng-class="{'invalid-date': !day.currentMonth}">
			{{day.date | date}}
		</div>
	</div>
	<div class="calendar-footer">
		<button type="button" class="btn btn-default btn-last-month" ng-click="goTo(calendar.previous)">
			<i class="glyphicon glyphicon-menu-left" ng-bind="calendar.previous | month"></i>
		</button>

		<button type="button" class="btn btn-default btn-next-month" ng-click="goTo(calendar.next)">
			<i class="glyphicon glyphicon-menu-right" ng-bind="calendar.next | month"></i>
		</button>
	</div>
</div>
