div.calendar-header{
  width: 100%;
  float: left;
}

div.calendar-body{
  width: 100%;
}

div.calendar-day {
  padding:10px;
  width: 14.28%;
  float: left;
  border: 1px solid rgb(226, 226, 226);
  min-height: 100px;
  max-height: 150px;
}
